/* ESTILO GERAL */
body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  color: #fff;
  text-align: center;
}

header {
  background: linear-gradient(to right, #ff0000, #ff8800);
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  animation: piscar 2s infinite alternate;
}

@keyframes piscar {
  0% {background-position: left;}
  100% {background-position: right;}
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: transform 0.3s, color 0.3s;
}

nav a:hover {
  color: yellow;
  transform: scale(1.2);
}

.ativo {
  color: #00ff88;
}

footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* PÁGINA INICIAL */
.inicio {
  background: linear-gradient(to top, #00ccff, #0099ff);
  height: 100vh;
  overflow: hidden;
}

.mario-container {
  position: relative;
  margin-top: 100px;
  animation: pular 2s infinite ease-in-out;
}

.mario {
  width: 150px;
}

.bloco {
  width: 80px;
  height: 80px;
  background: #b5651d;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #964b00;
  border-radius: 10px;
}

@keyframes pular {
  0%, 100% {transform: translateY(0);}
  50% {transform: translateY(-100px);}
}

/* PÁGINA DE PERSONAGENS */
.personagens {
  background: linear-gradient(to bottom, #33cc33, #006600);
  padding-bottom: 70px;
}

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 20px;
  width: 250px;
  transition: transform 0.4s, background 0.4s;
}

.card img {
  width: 100px;
  transition: transform 0.5s;
}

.card:hover img {
  transform: rotate(-10deg) scale(1.2);
}

.card:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: translateY(-10px);
}

/* PÁGINA DO JOGO */
.jogo {
  background: linear-gradient(to bottom, #1a1aff, #000066);
  height: 100vh;
  padding-top: 100px;
}

.jogo-area {
  margin-top: 50px;
}

.bloco-jogo {
  width: 100px;
  height: 100px;
  background: #b5651d;
  border: 4px solid #964b00;
  border-radius: 10px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.bloco-jogo:hover {
  transform: scale(1.1);
}
